<nav class="flex flex-col sm:flex-row px-4 py-2 justify-between items-baseline" role="navigation" aria-label="Main">
    <ul class="grid gap-4 grid-flow-col mb-6 sm:mb-0">
        {{ nav:primary }}
        <li><a
            class="text-lg pb-1 border-b-2 border-transparent hover:border-teal {{ if is_current }} border-teal {{ /if }}"
            href="{{ url }}">{{ title }}</a></li>
        {{ /nav:primary }}
    </ul>

    <form class="w-full sm:w-auto flex" action="/search">
        <input value="{{ get:q }}"
               type="search"
               name="q"
               class="flex-grow border-gray-400 border-l border-b border-t rounded-l pr-0 p-2 text-gray-700"
               placeholder="The world is your oyster...">
        <button class="flex-shrink-0 border-gray-400 border rounded-r p-2 -ml-2 hover:bg-gray-100"
                type="submit">
            Search
        </button>
    </form>
</nav>
