<div class="mb-4">
    <h1 class="text-4xl text-gray-800 font-semibold leading-tight">{{ title }}</h1>
    <span class="text-xs text-gray-700 tracking-widest">Last updated {{ updated_at format="d/m/Y" }}</span>
</div>

<p class="text-lg leading-loose text-gray-600">{{ summary }}</p>

{{ if image }}
{{ image }}
<img src="{{ url }}" class="mb-6">
{{ /image }}
{{ /if }}

<div class="flex justify-center mb-4">
    <span class="h-2 w-2 bg-gray-300 rounded-full mr-2"></span>
    <span class="h-2 w-2 bg-gray-300 rounded-full mr-2"></span>
    <span class="h-2 w-2 bg-gray-300 rounded-full"></span>
</div>

<div>
    {{ content }}
</div>

<script type="application/ld+json">
    {
        "@context":"http://schema.org",
        "@type": "BlogPosting",
        "image": "{{ image:permalink }}",
        "url": "{{ permalink }}",
        "headline": "{{ title | sanitize }}",
        "alternativeHeadline": "{{ summary | sanitize }}",
        "dateCreated": "{{ updated_at format='Y-m-d H:i:s' }}",
        "datePublished": "{{ updated_at format='Y-m-d H:i:s' }}",
        "dateModified": "{{ updated_at format='Y-m-d H:i:s' }}",
        "inLanguage": "en-GB",
        "isFamilyFriendly": "true",
        "copyrightYear": "{{ updated_at format='Y' }}",
        "copyrightHolder": "Luke Raymond Downing",
        "author": {
            "@type": "Person",
            "name": "Luke Downing",
            "url": "https://downing.tech"
        },
        "publisher": {
            "@type": "Organization",
            "name": "Luke Downing",
            "url": "https://downing.tech",
            "logo": {
                "@type": "ImageObject",
                "url": "https://downing.tech/assets/downing_tech_logo.svg",
                "width":"250",
                "height":"100"
            }
        },
        "mainEntityOfPage": "True",
        "genre":["Programming","Web development"],
        "articleBody": "{{ content | strip_tags | sanitize }}"
    }
</script>
