<!doctype html>
<html lang="{{ site_short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | Luke Downing</title>
    <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="{{ mix src='/js/site.js' }}"></script>
</head>
<body class="bg-gray-50 leading-normal min-h-screen flex flex-col">
{{ partial:header }}
<main id="main" class="flex-grow leading-relaxed w-full md:w-3/4 max-w-5xl mx-auto">
    <div class="mt-4 mx-4">
        {{ template_content }}
    </div>
</main>
{{ partial:decoration }}
{{ partial:footer }}
</body>
</html>
